html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
header {
  background-color: #2d3a4c;
  height: 85px;
  /* box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.75); */
}
.container {
  max-width: 1280px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER SECTION */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}
.navigation {
  /* width: 55%; */
  /* margin: auto; */
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  height: 45px;
}
.logo-text {
  padding-top: 10px;
  height: 25px;
  width: 190px;
  margin-right: 20px;
}
.nav-list {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  /* border-bottom: 2px solid #eff3f3;
  border-top: 2px solid #eff3f3; */
}
.nav-item {
  text-wrap: nowrap;
  padding: 15px;

  /* border: 2px solid #eff3f3; */
  /* border-radius: 30px; */
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
  color: #eff3f3;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  /* transition: 0.7s; */

  /* position: relative;
  color: #2d3a4cd8; */
  transition: background-color 0.5s, color 0.5s;
}
.nav-item:hover {
  /* border: 2px solid #eff3f3;
  border-radius: 30px; */
  background-color: #eff3f3;
  color: black;
}
.nav-item-link {
  text-decoration: none;
  color: inherit;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}
.navigation-container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-request-btn {
  cursor: pointer;
  position: relative;
  color: #eff3f3;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  padding: 10px 15px;
  border: none;
}
.nav-request-btn::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #f2cd00;
  border-left: 2px solid #f2cd00;
  left: 6px;
  top: 2px;
}
.nav-request-btn::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #f2cd00;
  border-right: 2px solid #f2cd00;
  right: 5px;
  bottom: 2px;
}
.nav-request-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.nav-request-line::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #f2cd00;
  border-right: 2px solid #f2cd00;
  right: 5px;
  top: 2px;
}
.nav-request-line::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #f2cd00;
  border-left: 2px solid #f2cd00;
  left: 6px;
  bottom: 2px;
}
.lang-menu {
  display: flex;
  border: 2px solid #eff3f3;
  border-radius: 25px;
}
.lang {
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #eff3f3;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;

  border-radius: 25px;
}
.active-lang {
  color: #f2cd00;
  background-color: #eff3f3;
}
/* ABOUT-US SECTION */
.about-us {
  background-image: url(assets/img/bg_about.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  background-position: center;
}
.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(45, 59, 77, 0.8);
}
.about-us-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: clamp(24px, 2vw, 36px);
  color: #ffffff;
  padding: 30px;
  padding-bottom: 0;
}
.about-us-descript {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  padding: 30px 50px;
}
.about-auto-list {
  /* box-sizing: border-box; */
  background: linear-gradient(
    128deg,
    rgba(6, 24, 48, 0.75) 0%,
    rgba(38, 56, 82, 0.75) 30%,
    rgba(111, 120, 123, 0.75) 100%
  );
  width: 90%;
  margin: 20px auto;
  /* height: 600px; */
  /* position: absolute;
  right: 8vw;
  top: 5vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 70px;
  margin-top: 0;
}
.about-auto-list ul {
  align-self: flex-start;
  margin-left: 40px;
}
.about-auto-list-title {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
}
.about-auto-list-item {
  list-style: none;
  position: relative;
  margin-bottom: 30px;
  line-height: 130%;
  color: #ffffff;
  font-weight: 350;
}
.about-auto-list-item::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  background-color: #f2cd00;
  border-radius: 50%;
  left: -30px;
  top: calc(50% - 6px);
}
.feature {
  color: #f2cd00;
  font-weight: 800;
  font-size: 18px;
}
.about-goals {
  padding-top: 75px;
  padding-bottom: 75px;
  background: linear-gradient(
    180deg,
    rgba(45, 58, 76, 1) 0%,
    rgba(60, 73, 89, 1) 20%,
    rgba(123, 132, 143, 1) 59%,
    rgba(239, 243, 243, 1) 100%
  );
}
.about-goals-content {
  display: flex;
  justify-content: space-between;
}
.about-goals-assignment {
  width: 45%;
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.about-goals-mission {
  background-color: rgba(255, 255, 255, 0.3);
  width: 45%;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.about-goals-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: clamp(24px, 2vw, 36px);
  color: #f2cd00;
  /* padding: 30px;
  padding-bottom: 0; */
  padding-top: 30px;
}
.about-goals-descript {
  color: #000000;
  font-weight: 450;
  font-size: clamp(15px, 1.2vw, 20px);
  line-height: 150%;
  padding: 30px 0;
}
.auto {
  background-image: url(assets/img/bg_auto.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  background-position: center;
}
.about-other {
  background-color: #eff3f3;
}
.principles-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: clamp(24px, 2vw, 36px);
  padding: 60px;
}
.principles-descript {
  text-align: center;
  font-weight: 350;
  font-size: clamp(15px, 1.2vw, 20px);
  line-height: 150%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.principles-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.principles-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
}
.principles-img {
  width: 80px;
  background-color: rgb(45, 58, 76);
  border-radius: 50%;
  padding: 30px;
  border: 3px solid #f2cd00;
  /* margin: 10px; */
}
.service {
  background-image: url(assets/img/bg_service.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  background-position: center;
}
.study {
  background-image: none;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  background-position: center;
}
/* FOOTER SECTION */
.footer-title {
  color: #f2cd00;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  padding-left: 5%;

  padding-top: 15px;
  /* background-color: rgba(255, 255, 255, 0.25); */
}
.footer-content {
  display: flex;
  justify-content: space-around;
  /* background-color: rgba(255, 255, 255, 0.25); */
  padding: 30px;
}
.footer-card {
  /* width: 25%; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-card-title {
  color: #f2cd00;
  font-weight: 600;
  font-size: 24px;
}
.footer-navigation {
  height: 100%;
}
.footer-socials {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  justify-content: space-around;
  height: 100%;
}
.footer-nav-item:hover {
  color: #99c3ffd8;
}
.social-link {
  width: 55px;
  height: 55px;
  border: 2px solid #f2cd00;
  display: inline-block;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}
.social-link:hover {
  background-color: #f2cd00;
}
.facebook {
  background-image: url(assets/svg/facebook.svg);
}
.youtube {
  background-image: url(assets/svg/youtube.svg);
}
.instagram {
  background-image: url(assets/svg/instagram.svg);
}
.linkedin {
  background-image: url(assets/svg/linkedin.svg);
}
.card-row-title {
  color: #99c3ffd8;
  font-weight: 600;
  font-size: 20px;
}
.card-row-info {
  color: #ffffff;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 5px;
}
/* MODAL STYLES */
.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  position: fixed;
  z-index: 10000;
  background: #0b0b0bd4;
  justify-content: center;
  align-items: center;
}
.modal-body {
  /* position: fixed; */
  position: relative;
  background-color: #eaeaea;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5%;
  width: 75%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}
.close-modal-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.close-modal-btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  rotate: 45deg;
}
.close-modal-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  rotate: -45deg;
}

.about-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}
.address-info {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  align-items: center;
}
.address {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 200px;
  gap: 12px;
  margin-bottom: 30px;
}
.additionally-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.request-btn {
  max-width: max-content;
  padding: 20px;
  border: 2px solid #eff3f3;
  background-color: #2d3a4c;
  text-wrap: nowrap;
  text-transform: uppercase;
  color: #eff3f3;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.input {
  width: calc(50% - 6px);
  min-width: 180px;
  box-sizing: border-box;
  border: 1px solid;
  line-height: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: #adadad;
  margin: 0;
  padding: 12px 20px;
  outline: none;
  color: #606060;
  font-size: 18px;
}
.comment {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid;
  line-height: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: #adadad;
  padding: 12px 20px;
  outline: none;
  color: #606060;
  font-size: 18px;
  min-height: 150px;
}
.form-legend {
  width: 100%;
}
.form-legend-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.feedback-thanks {
  align-items: center;
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3a4c;
  background-color: #f2cd00;
  padding: 15px;
}
.loader {
  display: none;
  width: 100px;
  padding: 20px;
  box-sizing: border-box;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
  border-radius: 50%;
  background: #f2cd00;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
.show {
  display: flex;
}
.hide {
  display: none;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.burger-menu {
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.burger-line {
  width: 40px;
  height: 3px;
  background-color: #eff3f3;
  transition: all 0.3s ease;
}
/* MEDIA  */
@media screen and (max-width: 1180px) {
  .logo {
    gap: 5px;
    margin-left: 5px;
  }
  .logo-img {
    height: 35px;
  }
  .logo-text {
    padding-top: 4px;
    height: 20px;
    width: 150px;
  }
  .navigation-container {
    justify-content: space-between;
  }
  .nav-item-link {
    font-size: 16px;
  }
  .nav-request-btn {
    font-size: 16px;
    width: min-content;
  }
}
@media screen and (max-width: 990px) {
  .burger-menu {
    display: flex;
    z-index: 12;
  }
  /* .nav-request-btn {
    text-wrap: nowrap;
  } */
  .navigation {
    z-index: 11;
    position: fixed;
    transform: translateX(-100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2d3a4c;
    transition: all 0.3s ease;
  }
  .nav-list {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .navigation-container {
    width: 50%;
  }
  .navigation .nav-item-link {
    font-size: 32px;
  }
  .footer-content {
    flex-wrap: wrap;
    row-gap: 50px;
  }
  .footer-card {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-card:last-child {
    width: 100%;
  }
  .footer-card .logo {
    margin-right: 50px;
  }
  .footer-card-title {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .input {
    width: 100%;
  }
  .hero-title {
    margin-top: 100px;
    font-size: 30px;
    line-height: 130%;
  }
  .header .logo-text {
    display: none;
  }
  .navigation-container {
    width: 70%;
  }
  .about-us {
    padding: 40px 0;
  }
  .about-us-title {
    padding: 15px;
    padding-bottom: 0;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
  }
  .about-us-descript {
    padding: 15px 0;
    line-height: 150%;
    font-size: 16px;
  }
  .about-goals {
    padding: 35px 0;
  }
  .about-auto-list {
    margin-bottom: 30px;
  }
  .about-auto-list-title {
    font-size: 26px;
    line-height: 130%;
  }
  .about-auto-list-item {
    line-height: 130%;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .about-goals-content {
    flex-direction: column;
    row-gap: 15px;
  }
  .about-goals-mission {
    width: 100%;
  }
  .about-goals-assignment {
    width: 100%;
  }
  .about-goals-title {
    padding-top: 15px;
  }
  .about-goals-descript {
    padding: 15px 0;
  }
  .principles-title {
    padding: 20px;
    padding-bottom: 35px;
  }
  .principles-block {
    width: 150px;
    min-width: max-content;
  }
  .principles-img {
    width: 65px;
    padding: 25px;
  }
  .principles-descript {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .footer-card {
    width: 100%;
  }
  .footer-card-title {
    text-align: center;
  }
  .footer-nav-list {
    height: auto;
    gap: 15px;
  }
  .footer-card:nth-child(1) {
    justify-content: center;
  }
  .footer-card:last-child {
    justify-content: center;
  }
}
@media screen and (max-width: 580px) {
  .header {
    justify-content: stretch;
    gap: 20px;
  }
  .navigation-container {
    width: 100%;
    gap: 0;
  }
}
@media screen and (max-width: 480px) {
  .footer-card:nth-child(1) {
    justify-content: start;
  }
  .modal-body {
    width: 100%;
  }
  .about-auto-list {
    width: auto;
  }
  .header .logo {
    display: none;
  }
}
.show-nav {
  transform: translateX(0);
}
.burger-menu.active .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(10px, 9px);
}

.burger-menu.active .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -9px);
}
.no-scroll {
  overflow: hidden;
}
