html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

header {
  background-color: #2d3a4c;
  height: 85px;
  /* box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.75); */
}
.container {
  max-width: 1280px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER SECTION */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.hidden {
  top: -100px; /* або будь-яке інше значення, що виводить шапку за видиму область */
}
.navigation {
  /* width: 55%; */
  /* margin: auto; */
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  height: 45px;
}
.logo-text {
  padding-top: 10px;
  height: 25px;
  width: 190px;
}
.nav-list {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  /* border-bottom: 2px solid #eff3f3;
  border-top: 2px solid #eff3f3; */
}
.nav-item {
  text-wrap: nowrap;
  padding: 15px;

  /* border: 2px solid #eff3f3; */
  /* border-radius: 30px; */
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
  color: #eff3f3;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  /* transition: 0.7s; */

  /* position: relative;
  color: #2d3a4cd8; */
  transition: background-color 0.5s, color 0.5s;
}
.nav-item:hover {
  /* border: 2px solid #eff3f3;
  border-radius: 30px; */
  background-color: #eff3f3;
  color: black;
}
.nav-item-link {
  text-decoration: none;
  color: inherit;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}
.navigation-container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-request-btn {
  cursor: pointer;
  position: relative;
  color: #eff3f3;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  padding: 10px 15px;
  border: none;
}
.nav-request-btn::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #f2cd00;
  border-left: 2px solid #f2cd00;
  left: 6px;
  top: 2px;
}
.nav-request-btn::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #f2cd00;
  border-right: 2px solid #f2cd00;
  right: 5px;
  bottom: 2px;
}
.nav-request-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.nav-request-line::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #f2cd00;
  border-right: 2px solid #f2cd00;
  right: 5px;
  top: 2px;
}
.nav-request-line::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #f2cd00;
  border-left: 2px solid #f2cd00;
  left: 6px;
  bottom: 2px;
}
/* ABOUT_AUTO SECTION */
.a {
  display: flex;
}
.about-auto {
  background: linear-gradient(
    0deg,
    rgba(45, 58, 76, 1) 0%,
    rgba(60, 73, 89, 1) 20%,
    rgba(123, 132, 143, 1) 59%,
    rgba(239, 243, 243, 1) 100%
  );
  /* background-color: #bbc1c6; */
  width: 100%; /* Ширина трапеції */
  height: calc(100vh - 100px);
  position: relative;
  /* overflow: hidden; */
}
.about-auto-bg {
  /* overflow: hidden; */
  height: 100%;
  width: 95vw;
  position: relative;
  transform: skewX(-20deg);
  overflow: hidden;
  margin-left: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .about-auto-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 110vw;
  height: 100%;
  background-position: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/img/DSC00212.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: skewX(20deg);
  z-index: -1;
} */
.swiper-img {
  /* width: 115%; */
  /* height: 150%; */
  height: 100%;
  transform: skewX(20deg);
  position: absolute;
  left: 150px;
}
.swiper-slide2 {
  background-position: center;
  background-size: cover;
}
.swiper-slide2 img {
  display: block;
  width: 100%;
}
.mySwiper2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 1000px solid transparent; /* Верхня сторона */
  border-left: 200px solid #2d3a4c; /* Ліва сторона */
  z-index: 3;
}
.mySwiper2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 1000px solid #2d3a4c;
  border-right: 200px solid transparent;
  z-index: 3;
  rotate: 180deg;
}
.swiper-pagination-bullet {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 40px;
  height: 5px;
  border-radius: 0;
  background: #eff3f3;
}
.swiper-pagination-bullet-active {
  background: #f2cd00;
}
.swiper-slide-top::before {
  z-index: 100;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.mySwiper {
  width: 100%;
  height: 100%;
}
.swiper-button-next-top {
  right: 40px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #f2cd00;
}
.about-auto-content {
  transform: skewX(20deg);
  margin-left: 185px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
  height: 100%;
  padding: 30px 0;
}
.about-auto-title {
  /* margin-left: calc(290px - 10vw); */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* transform: skewX(20deg); */
  font-size: clamp(20px, 3vw, 48px);
  color: #ffffff;
  max-width: 55vw;
  padding-right: 100px;
  margin: 10vh 0;
}
.about-auto-descript {
  /* margin-left: calc(120px - 10vw); */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /* transform: skewX(20deg); */
  /* font-size: 28px; */
  font-size: clamp(16px, 2vw, 28px);
  color: #ffffff;
  max-width: 55vw;
  margin-bottom: 30px;
}
/* .about-auto-descript:last-of-type {
  margin-top: -80px;
} */
.about-auto-list {
  /* box-sizing: border-box; */
  background: linear-gradient(
    308deg,
    rgba(6, 24, 48, 1) 0%,
    rgba(38, 56, 82, 1) 30%,
    rgb(111, 120, 123) 100%
  );
  width: 90%;
  margin: 20px auto;
  /* height: 600px; */
  /* position: absolute;
  right: 8vw;
  top: 5vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 0px 30px;
}
.about-auto-list-title {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
}
.about-auto-list-item {
  list-style: none;
  position: relative;
  margin-bottom: 30px;
  line-height: 130%;
  color: #ffffff;
  font-weight: 350;
}
.about-auto-list-item::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  background-color: #f2cd00;
  border-radius: 50%;
  left: -30px;
  top: calc(50% - 6px);
}

/* ADVANTAGES SECTION */
.auto-advantages {
  padding: 75px 50px;
  width: 100%;
  /* height: 75vh; */
  background-color: #2d3a4c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  box-sizing: border-box;
}
.advantages-group {
  width: 43%;
  height: 400px;
  transform: skewX(10deg);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  /* max-width: 700px; */
}
/* .advantages-group:hover {
  transform: skewX(0);
  transform: scale(1.5);
} */

.advantages-group:nth-of-type(1)::before {
  position: absolute;
  left: -15%;
  content: '';
  width: 130%;
  height: 100%;
  transform: skewX(-10deg);
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(assets/img/advantages1.jpg);
  z-index: -1;
}
.advantages-group:nth-of-type(1)::after {
  position: absolute;
  content: '';
  width: 150px;
  height: 150px;
  border-top: 5px solid #f2cd00;
  border-left: 5px solid #f2cd00;
  left: 0;
}
.advantages-group:nth-of-type(2)::before {
  position: absolute;
  left: -15%;
  content: '';
  width: 130%;
  height: 100%;
  transform: skewX(-10deg);
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(assets/img/advantages2.jpg);
  z-index: -1;
}
.advantages-group:nth-of-type(2)::after {
  position: absolute;
  content: '';
  width: 150px;
  height: 150px;
  border-top: 5px solid #f2cd00;
  border-right: 5px solid #f2cd00;
  right: 0;
}
.advantages-group:nth-of-type(3)::before {
  position: absolute;
  left: -15%;
  content: '';
  width: 130%;
  height: 100%;
  transform: skewX(-10deg);
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(assets/img/advantages3.jpg);
  z-index: -1;
}
.advantages-group:nth-of-type(3)::after {
  position: absolute;
  content: '';
  width: 150px;
  height: 150px;
  border-left: 5px solid #f2cd00;
  border-bottom: 5px solid #f2cd00;
  left: 0;
  bottom: 0;
}
.advantages-group:nth-of-type(4)::before {
  position: absolute;
  left: -15%;
  content: '';
  width: 130%;
  height: 100%;
  transform: skewX(-10deg);
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(assets/img/advantages4.jpg);

  background-position: left;
  z-index: -1;
}
.advantages-group:nth-of-type(4)::after {
  position: absolute;
  content: '';
  width: 150px;
  height: 150px;
  border-right: 5px solid #f2cd00;
  border-bottom: 5px solid #f2cd00;
  right: 0;
  bottom: 0;
}
.advantages-title {
  margin-top: 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  transform: skewX(-10deg);
  /* font-size: 28px; */
  font-size: clamp(24px, 2vw, 36px);
  color: #ffffff;
  margin-bottom: 30px;
}

.advantages-descript {
  line-height: 2vw;
  color: #ffffff;
  font-weight: 350;
  font-size: clamp(15px, 1.2vw, 20px);
  max-width: 80%;
  transform: skewX(-10deg);
}
/* FOOTER SECTION */
.footer-title {
  color: #f2cd00;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  padding-left: 5%;

  padding-top: 15px;
  /* background-color: rgba(255, 255, 255, 0.25); */
}
.footer-content {
  display: flex;
  justify-content: space-around;
  /* background-color: rgba(255, 255, 255, 0.25); */
  padding: 30px;
}
.footer-card {
  /* width: 25%; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-card-title {
  color: #f2cd00;
  font-weight: 600;
  font-size: 24px;
}
.footer-navigation {
  height: 100%;
}
.footer-socials {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  justify-content: space-around;
  height: 100%;
}
.footer-nav-item:hover {
  color: #99c3ffd8;
}
.social-link {
  width: 55px;
  height: 55px;
  border: 2px solid #f2cd00;
  display: inline-block;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}
.social-link:hover {
  background-color: #f2cd00;
}
.facebook {
  background-image: url(assets/svg/facebook.svg);
}
.youtube {
  background-image: url(assets/svg/youtube.svg);
}
.instagram {
  background-image: url(assets/svg/instagram.svg);
}
.linkedin {
  background-image: url(assets/svg/linkedin.svg);
}
.card-row-title {
  color: #99c3ffd8;
  font-weight: 600;
  font-size: 20px;
}
.card-row-info {
  color: #ffffff;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 5px;
}
/* MODAL STYLES */
.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  position: fixed;
  z-index: 10000;
  background: #0b0b0bd4;
  justify-content: center;
  align-items: center;
}
.modal-body {
  /* position: fixed; */
  position: relative;
  background-color: #eaeaea;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5%;
  width: 75%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}
.close-modal-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.close-modal-btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  rotate: 45deg;
}
.close-modal-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  rotate: -45deg;
}

.about-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}
.address-info {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  align-items: center;
}
.address {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 200px;
  gap: 12px;
  margin-bottom: 30px;
}
.additionally-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.request-btn {
  max-width: max-content;
  padding: 20px;
  border: 2px solid #eff3f3;
  background-color: #2d3a4c;
  text-wrap: nowrap;
  text-transform: uppercase;
  color: #eff3f3;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.input {
  width: calc(50% - 6px);
  min-width: 180px;
  box-sizing: border-box;
  border: 1px solid;
  line-height: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: #adadad;
  margin: 0;
  padding: 12px 20px;
  outline: none;
  color: #606060;
  font-size: 18px;
}
.comment {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid;
  line-height: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: #adadad;
  padding: 12px 20px;
  outline: none;
  color: #606060;
  font-size: 18px;
  min-height: 150px;
}
.form-legend {
  width: 100%;
}
.form-legend-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.show {
  display: flex;
}
.hide {
  display: none;
}
/* MEDIA  */
@media screen and (max-width: 1180px) {
  /* Ваші стилі для екранів менше 1000 пікселів */
  .logo {
    gap: 5px;
    margin-left: 5px;
  }
  .logo-img {
    height: 35px;
  }
  .logo-text {
    padding-top: 4px;
    height: 20px;
    width: 150px;
  }
  .navigation-container {
    justify-content: space-between;
  }
  .nav-item-link {
    font-size: 16px;
  }
  .nav-request-btn {
    font-size: 16px;
    width: min-content;
  }
}
